* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
}

body p {
  font-size: 20px;
  font-weight: 300;
  color: #ababc7;
}

body h3 {
  font-size: 40px;
}

body .btn {
  border-radius: 4px;
  font-size: 18px;
  background-color: #664ffa;
  background-image: -webkit-gradient(linear, right top, left top, from(#885bfe), to(#664ffa));
  background-image: linear-gradient(270deg, #885bfe 0%, #664ffa 100%);
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
          box-shadow: 0 3px 10px rgba(71, 44, 173, 0.2);
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#885bfe), to(#664ffa));
  background-image: linear-gradient(270deg, #885bfe 0%, #664ffa 100%);
  z-index: 1000;
}

header .logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 200px;
}

header ul li {
  list-style: none;
}

header ul li a {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.main {
  width: 80%;
  margin: auto;
}

.main .home {
  background: #fff;
  height: 100vh;
}

.main .home .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.main .home .home-container .text-home {
  width: 50%;
  padding: 0px 20px;
}

.main .home .home-container .text-home h3 {
  font-size: 40px;
  line-height: 50px;
  color: #664ffa;
  font-weight: 500;
  margin-bottom: 25px;
}

.main .home .home-container .text-home p {
  color: #ababc7;
  margin-bottom: 25px;
}

.main .home .home-container .text-home .form-home .email-box {
  width: 230px;
  height: 55px;
  color: #495057;
  line-height: 55px;
  border-radius: 4px;
  margin-right: 30px;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 3px 10px rgba(54, 54, 54, 0.11);
          box-shadow: 0 3px 10px rgba(54, 54, 54, 0.11);
}

.main .home .home-container .text-home .form-home .btn {
  width: 190px;
  height: 55px;
  margin: 5px;
}

.main .home .home-container .figure-home {
  width: 50%;
}

.main .home .home-container .figure-home img {
  width: 550px;
}

.main .features-container {
  text-align: center;
  padding: 100px 0px;
}

.main .features-container .features-heading {
  margin-bottom: 80px;
}

.main .features-container .features-heading h3 {
  margin-bottom: 15px;
}

.main .features-container .features-heading p {
  width: 60%;
  margin: auto;
}

.main .features-container .features-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .features-container .features-types .fer1 {
  width: 300px;
  height: 340px;
  margin: 15px;
  padding: 10px;
}

.main .features-container .features-types .fer1 .fer-img {
  height: 60%;
}

.main .features-container .features-types .fer1 .fer-img img {
  width: 100%;
}

.main .features-container .features-types .fer1 h4 {
  font-size: 25px;
  margin-top: 20px;
}

.main .features-container .features-types .fer1 p {
  margin-top: 15px;
}

.main .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0px;
}

.main .about-container .about-img {
  width: 50%;
  margin: 25px;
}

.main .about-container .about-img img {
  width: 100%;
}

.main .about-container .about-text {
  width: 50%;
  margin: 25px;
}

.main .about-container .about-text p {
  margin-top: 15px;
}

.main .about-container .about-text .btn {
  width: 190px;
  height: 55px;
  margin-top: 15px;
}

.main .process-container {
  text-align: center;
  padding: 100px 0px;
}

.main .process-container h3 {
  margin-bottom: 15px;
}

.main .process-container p {
  width: 60%;
  margin: auto;
}

.main .process-container .process-detatils {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .process-container .process-detatils .process-steps {
  padding: 0px 10px;
  width: 500px;
  margin-right: 10px;
}

.main .process-container .process-detatils .process-steps .steps-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px;
  width: 290px;
  margin-top: 35px;
  -webkit-box-shadow: 6px 7px 36px 3px rgba(136, 136, 136, 0.09);
          box-shadow: 6px 7px 36px 3px rgba(136, 136, 136, 0.09);
}

.main .process-container .process-detatils .process-steps .steps-contain .step-img {
  width: 45%;
}

.main .process-container .process-detatils .process-steps .steps-contain .step-img img {
  width: 100%;
}

.main .process-container .process-detatils .process-steps .steps-contain .step-text {
  margin-left: 15px;
}

.main .process-container .process-detatils .process-steps .steps-contain .step-text h4 {
  font-size: 18px;
  text-align: left;
}

.main .process-container .process-detatils .process-steps .steps-contain .step-text p {
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.main .process-container .process-detatils .process-figure {
  width: 50%;
  margin-left: 25px;
}

.main .process-container .process-detatils .process-figure img {
  width: 100%;
}

.main .service-container {
  text-align: center;
  padding: 100px 0px;
}

.main .service-container h3 {
  margin-bottom: 15px;
}

.main .service-container p {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.main .service-container .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .service-container .services-list .list1 {
  width: 250px;
  height: 250px;
  margin: 25px;
  padding: 35px;
  background: #fff;
  -webkit-box-shadow: 1px 4px 6px 1px rgba(60, 28, 148, 0.07);
          box-shadow: 1px 4px 6px 1px rgba(60, 28, 148, 0.07);
}

.main .service-container .services-list .list1 .services-listimg {
  height: 60%;
}

.main .service-container .services-list .list1 .services-listimg img {
  width: 100%;
}

.main .service-container .services-list .list1 h4 {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.main .service-container .services-list .list1 p {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.main .faq-container {
  text-align: center;
  padding: 100px 0px;
}

.main .faq-container h3 {
  margin-bottom: 15px;
}

.main .faq-container p {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.main .faq-container .faq-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.main .faq-container .faq-block .faq-blockquestions {
  width: 40%;
  margin: 10px;
  z-index: +1;
}

.main .faq-container .faq-block .faq-blockquestions .faq-content {
  margin: 0 auto;
}

.main .faq-container .faq-block .faq-blockquestions .faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.main .faq-container .faq-block .faq-blockquestions .panel-title {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px;
  background: white;
  display: block;
  cursor: pointer;
}

.main .faq-container .faq-block .faq-blockquestions .panel-content {
  font-size: 18px;
  padding: 0px 8px;
  margin: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.main .faq-container .faq-block .faq-blockquestions .panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.main .faq-container .faq-block .faq-blockquestions .plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.main .faq-container .faq-block .faq-blockquestions .panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main .faq-container .faq-block .faq-blockquestions .panel {
  display: none;
}

.main .faq-container .faq-block .faq-blockimag {
  width: 50%;
  margin-left: 10px;
}

.main .faq-container .faq-block .faq-blockimag img {
  width: 100%;
}

.main .package-container {
  text-align: center;
  padding: 100px 0px;
}

.main .package-container h3 {
  margin-bottom: 15px;
}

.main .package-container p {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.main .package-container .package-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: space-between;
      -ms-flex: space-between;
          flex: space-between;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .package-container .package-boxes .package-box {
  width: 250px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 12px 26px rgba(0, 0, 0, 0.17);
          box-shadow: 0 12px 26px rgba(0, 0, 0, 0.17);
  background: #fff;
  border-radius: 2px;
}

.main .package-container .package-boxes .package-box .package-imgbox {
  padding: 25px;
}

.main .package-container .package-boxes .package-box .package-imgbox img {
  width: 100%;
}

.main .package-container .package-boxes .package-box h4 {
  font-size: 20px;
  margin-top: 10px;
}

.main .package-container .package-boxes .package-box h1 {
  margin-top: 20px;
}

.main .package-container .package-boxes .package-box h1 span {
  font-size: 50px;
}

.main .package-container .package-boxes .package-box p {
  width: 100%;
  margin-top: 10px;
}

.main .package-container .package-boxes .package-box .btn {
  width: 190px;
  height: 55px;
}

.main .testimonial-container {
  text-align: center;
  padding: 100px 0px;
}

.main .testimonial-container h3 {
  margin-bottom: 15px;
}

.main .testimonial-container p {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

.main .testimonial-container .testimonial-items {
  margin: 50px 0px;
}

.main .testimonial-container .testimonial-items .item {
  margin: 25px 0px;
}

.main .testimonial-container .testimonial-items .item img {
  width: 75px;
  margin: auto;
}

.main .testimonial-container .testimonial-items .item p {
  margin-top: 20px;
}

.main .testimonial-container .testimonial-items .item h4 {
  margin-bottom: 50px;
}

.footer {
  text-align: center;
  padding: 50px 0px 25px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
      grid-template-areas: "footer-logo " "footer-menu" "footer-detatil" "footer-social";
  grid-row-gap: 15px;
}

.footer .footer-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-logo;
}

.footer .footer-logo h4 {
  font-size: 25px;
  color: #664ffa;
}

.footer .footer-menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer-menu;
}

.footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-menu ul li {
  list-style: none;
}

.footer .footer-menu ul li a {
  padding: 5px 10px;
  color: #664ffa;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-detatil {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-detatil;
}

.footer .footer-social {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer-social;
  margin: auto;
}

.footer .footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-social ul li {
  list-style: none;
}

.footer .footer-social ul li a {
  padding: 5px 10px;
  color: #664ffa;
  text-decoration: none;
  cursor: pointer;
}

.bottom-footer {
  padding: 25px 0px;
  width: auto;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */